h1{
  font-size: 40px;
  text-align: center;
}

html {
  text-align: center;
  background-color: #555;
  margin: none;
  padding: 0;
}

/* Style the container */
.container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap into multiple rows */
  justify-content: center; /* Center items horizontally */
  margin-top: 60px;
}

/* Style the slider container */
.slider-container {
  display: flex;
  flex-direction: column; /* Arrange the slider and number vertically */
  align-items: center; /* Center items horizontally within the container */
  margin: 10px; /* Adjust the margin between sliders */

}

.slider-container label {
  margin-bottom: -70px; /* Adjust the margin-bottom as needed */
}

/* Style the number */
.number {
  background-color: #ffd901;
  height: 40px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
  border-radius: 3px;
  margin-top: 80px;
}

/* Additional styles for the slider */
input[type='range'] {
  writing-mode: bt-lr;
  width: 240px;
  height: 10px;
  outline: 0;
  border-radius: 5px;
  background-color: #0b0b0b;
  box-shadow: inset 1px 1px 0 1px #6d6d6d;
  transform: rotate(-90deg);
  touch-action: none; /* Disable default touch interactions */
}

input[type='range'] {
  margin-top: 60px;
  writing-mode: bt-lr;
  width: 80px;
  height: 240px;
  padding: 0;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    width: 140px;
    height: 10px;
    margin-top: 160px;
    outline: 0;
    border-radius: 5px;
    background-color: #0b0b0b;
    box-shadow: inset 1px 1px 0 1px #6d6d6d;
  }
}

input[type='range']::-ms-track {
  width: 10px;
  height: 240px;
  border-radius: 5px;
  background-color: #0b0b0b;
  box-shadow: inset 1px 1px 0 1px #6d6d6d;
  border: 0;
}

input[type='range']::-moz-range-track {
  width: 10px;
  height: 240px;
  border-radius: 5px;
  background-color: #0b0b0b;
  box-shadow: inset 1px 1px 0 1px #6d6d6d;
  border: 0;
}

input[type='range']::-webkit-slider-thumb {
  width: 72px;
  height: 32px;
  -webkit-appearance: none;
  background-image: -webkit-linear-gradient(left, #0f0f0f, #2e2e2e 4%, #0f0f0f 8%, #000 47%, #808080 48%, #808080 52%, #000 53%, #1a1a1a 96%, #2e2e2e);
  box-shadow: 5px -10px 20px 0 #1a1a1a;
}

input[type='range']::-ms-thumb {
  width: 32px;
  height: 72px;
  border: 0;
  box-shadow: -10px -5px 20px 0 #1a1a1a;
  background-image: -ms-linear-gradient(bottom, #0f0f0f, #2e2e2e 4%, #0f0f0f 8%, #000 47%, #808080 48%, #808080 52%, #000 53%, #1a1a1a 96%, #2e2e2e);
}

input[type='range']::-ms-tooltip {
  display: none;
}

input[type='range']::-moz-range-thumb {
  width: 32px;
  height: 72px;
  border: 0;
  box-shadow: -10px -5px 20px 0 #1a1a1a;
  background-image: -moz-linear-gradient(bottom, #0f0f0f, #2e2e2e 4%, #0f0f0f 8%, #000 47%, #808080 48%, #808080 52%, #000 53%, #1a1a1a 96%, #2e2e2e);
  border-radius: 0;
}